body {
  background-color: var(--background-color);
  //   font-family: var(--primary-font);
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment {
    display: none;
  }

  &::-webkit-scrollbar-track-piece {
    background: var(--scroll-background);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ff6b08;
    border-radius: 4px;

    &:hover {
      background: #ff6b08;
    }

    &::-webkit-scrollbar-thumb:vertical {
      height: 40px;
    }
    &::-webkit-scrollbar-thumb:horizontal {
      width: 40px;
    }
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}
