:root {
  //   --primary-font: 'Cera Pro', sans-serif;
  //   --menu-font: 'Caviar Dreams', sans-serif;
  --background-color: #ffffff;
  --films-hover: 2px 2px 10px 4px rgb(0 0 0 / 30%);
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --footer-bg-color: #f7f7f7;
  --footer-text: #545454;
  --modal-text-color: #8c8c8c;
  --scroll-background: #f0f2fa;
  --up-background: #e0e3e4;
  --background-image: url(../images/sun.png);
  --background-color-film: #eeeeee;
}
.dark {
  --background-color: rgba(8, 8, 8, 0.91);
  --films-hover: 2px 2px 10px 4px rgba(161, 161, 161, 0.3);
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --footer-bg-color: #383838;
  --footer-text: #f0f0f0;
  --modal-text-color: #ffffff;
  --scroll-background: rgba(8, 8, 8, 0.7);
  --up-background: rgba(8, 8, 8, 0.7);
  --background-image: url(../images/moon.png);
  --background-color-film: #181717;
}
