<section class="container films">

    <ul class="films__list">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
    </ul>
</section>

  <ul class="films__list">
    <li class="films__item">
      <div class="film__link">
        <img class="film__img" src="./images/films/film-1.png" alt="" />
        <p class="film__name">GREYHOUND</p>
      </div>
      <div class="film__box">
        <p class="film__info">
          <span>Drama, Action</span>
          &nbsp;|&nbsp;
        </p>
        <p class="film__info">2020</p>
      </div>
    </li>
    <li class="films__item">
      <div class="film__link">
        <img class="film__img" src="./images/films/film-2.png" alt="" />
        <p class="film__name">MONSTER HUNTER</p>
      </div>
      <div class="film__box">
        <p class="film__info">
          <span>Drama, Action</span>
          &nbsp;|&nbsp;
        </p>
        <p class="film__info">2020</p>
      </div>
    </li>
    <li class="films__item">
      <div class="film__link">
        <img class="film__img" src="./images/films/film-3.png" alt="" />
        <p class="film__name">ONCE UPON A TIME... IN HOLLYWOOD</p>
      </div>
      <div class="film__box">
        <p class="film__info">
          <span>Drama, Comedy</span>
          &nbsp;|&nbsp;
        </p>
        <p class="film__info">2020</p>
      </div>
    </li>
    <li class="films__item">
      <div class="film__link">
        <img class="film__img" src="./images/films/film-4.png" alt="" />
        <p class="film__name">LITTLE WOMEN</p>
      </div>
      <div class="film__box">
        <p class="film__info">
          <span>Drama</span>
          &nbsp;|&nbsp;
        </p>
        <p class="film__info">2020</p>
      </div>
    </li>
    <li class="films__item">
      <div class="film__link">
        <img class="film__img" src="./images/films/film-5.png" alt="" />
        <p class="film__name">AQUARELA</p>
      </div>
      <div class="film__box">
        <p class="film__info">
          <span>Documentary, Drama</span>
          &nbsp;|&nbsp;
        </p>
        <p class="film__info">2020</p>
      </div>
    </li>
    <li class="films__item">
      <div class="film__link">
        <img class="film__img" src="./images/films/film-6.png" alt="" />
        <p class="film__name">MOON</p>
      </div>
      <div class="film__box">
        <p class="film__info">
          <span>Sci-Fi, Action, Thriller</span>
          &nbsp;|&nbsp;
        </p>
        <p class="film__info">2020</p>
      </div>
    </li>
  </ul>
</section>

