<section class="films">
  <div class="container">
    <ul class="films__list">
      <li class="films__item">
        <div class="film__link">
          <img class="film__img" src="./images/films/film-1.jpg" alt="" />
          <p class="film__name">GREYHOUND</p>
        </div>
        <div class="film__box">
          <p class="film__info">
            <span>Drama, Action</span>
            &nbsp;|&nbsp;
          </p>
          <p class="film__info">2020</p>
          <p class="rating">10.0</p>
        </div>
      </li>
      <li class="films__item">
        <div class="film__link">
          <img class="film__img" src="./images/films/film-2.jpg" alt="" />
          <p class="film__name">MONSTER HUNTER</p>
        </div>
        <div class="film__box">
          <p class="film__info">
            <span>Drama, Action</span>
            &nbsp;|&nbsp;
          </p>
          <p class="film__info">2020</p>
          <p class="rating">8.0</p>
        </div>
      </li>
      <li class="films__item">
        <div class="film__link">
          <img class="film__img" src="./images/films/film-3.jpg" alt="" />
          <p class="film__name">ONCE UPON A TIME... IN HOLLYWOOD</p>
        </div>
        <div class="film__box">
          <p class="film__info">
            <span>Drama, Comedy</span>
            &nbsp;|&nbsp;
          </p>
          <p class="film__info">2020</p>
          <p class="rating">8.0</p>
        </div>
      </li>
      <li class="films__item">
        <div class="film__link">
          <img class="film__img" src="./images/films/film-4.jpg" alt="" />
          <p class="film__name">LITTLE WOMEN</p>
        </div>
        <div class="film__box">
          <p class="film__info">
            <span>Drama</span>
            &nbsp;|&nbsp;
          </p>
          <p class="film__info">2020</p>
          <p class="rating">9.5</p>
        </div>
      </li>
      <li class="films__item">
        <div class="film__link">
          <img class="film__img" src="./images/films/film-5.jpg" alt="" />
          <p class="film__name">AQUARELA</p>
        </div>
        <div class="film__box">
          <p class="film__info">
            <span>Documentary, Drama</span>
            &nbsp;|&nbsp;
          </p>
          <p class="film__info">2020</p>
          <p class="rating">6.5</p>
        </div>
      </li>
      <li class="films__item">
        <div class="film__link">
          <img class="film__img" src="./images/films/film-6.jpg" alt="" />
          <p class="film__name">MOON</p>
        </div>
        <div class="film__box">
          <p class="film__info">
            <span>Sci-Fi, Action, Thriller</span>
            &nbsp;|&nbsp;
          </p>
          <p class="film__info">2020</p>
          <p class="rating">5.9</p>
        </div>
      </li>
      <li class="films__item">
        <div class="film__link">
          <img class="film__img" src="./images/films/film-7.jpg" alt="" />
          <p class="film__name">DAVID CROSBY: REMEMBER MY NAME</p>
        </div>
        <div class="film__box">
          <p class="film__info">
            <span>Documentary, Drama</span>
            &nbsp;|&nbsp;
          </p>
          <p class="film__info">2019</p>
          <p class="rating">5.9</p>
        </div>
      </li>
      <li class="films__item">
        <div class="film__link">
          <img class="film__img" src="./images/films/film-8.jpg" alt="" />
          <p class="film__name">A FISTFUL OF LEAD</p>
        </div>
        <div class="film__box">
          <p class="film__info">
            <span>Western</span>
            &nbsp;|&nbsp;
          </p>
          <p class="film__info">2019</p>
          <p class="rating">7.3</p>
        </div>
      </li>
    </ul>
  </div>
</section>
