<footer class = "footer">
    <div class = "footer__container"></div>
        <div class = "footer__wrapper">
          <p class = "footer__text">©  2020 | All Rights Reserved | &nbsp;</p>
          <p class = "footer__text">Developed with
          <svg class = "footer__icon-heart" width = "14" height = "12.7">
            <use href ="../src/images/sprite.svg#icon-favorite"></use>
              </svg>
          by 
          <a class = "footer__text-link" href= "/.index.html"> GoIT Students</a>
          </p>
        </div>
    </footer>
