<header class="header">
    <div class="container">
      <nav class="header__container">
        <div class="header__logo">
        <a href="./index.html" class="link">
          <svg class="header__nav-ikon" width="24" height="24">
            <use href="../src/images/sprite.svg#film"></use>
        </svg>
        <span class="header__logo-text">Filmoteka</span>
      </a>
        </div>
  <div class="header__nav">
  <ul class="header__nav-list">
    <li class="header__nav-item"><a href="" class="header__nav-link current-home">HOME</a>
    </li>
    <li class="header__nav-item"><a href="" class="header__nav-link">MY lIBRARY</a>
    </li>
  </ul>
  </nav>
  </div>
  </header>