<header class="header">
  <div class="container">
    <nav class="header__container">
      <a href="./index.html" class="logo logo__text">
        <svg class="nav__ikon" width="24" height="24">
          <use href="../src/images/sprite.svg#film"></use>
        </svg>Filmoteka</a>
      <ul class="nav__list">
        <li class="nav__item"><a href="./index.html" class="nav__link">HOME</a></li>
        <li class="nav__item">
          <a href="./library.html" class="nav__link current-library">MY lIBRARY</a>
        </li>
        <li class="nav__item">
          <button class="header-btn" id="signin">
          <svg width="16" height="16">
            <use href="../src/images/sprite.svg#sing-in"></use>
          </svg></button>
          <button class="header__btn" id="signout" style="display: none;">
    
          </button>
       </li>
      </ul>
    </nav>
  </div>
</header>
