<section class="hero__background">
  <div class="hero container">
    <form class="form">
      <div class="hero__position">
        <input
          class="hero__input"
          type="text"
          placeholder="Поиск фильмов"
          name="form-input"
          autocomplete="off"
        />
        <button class="hero__button" type="submit">
          <svg width="12" height="12" class="hero__button-icon" aria-label="поиск">
            <use href="../src/images/sprite.svg#search"></use>
          </svg>
        </button>
      </div>
      <div class="text-error"></div>
    </form>
    <div class="theme-home">
      <button class="theme__btn"></button>
    </div>
  </div>
</section>
