<section class="hero__background">
  <div class="hero">
  <div class="hero__position">
    <input
      class="hero__input"
      type="text"
      placeholder="Поиск фильмов"
      name="query"
      autocomplete="off"
    />
    <button class="hero__button" type="submit">
      <svg width="12" height="12" class="hero__button-icon" aria-label="поиск">
        <use href="../src/images/sprite.svg#search"></use>
      </svg>
    </button>
  </div>
  <div class="text-error visually-hidden ">
    <p>Search result not successful. Enter the correct movie name and </p>
  </div>
</div>
</section>
