<div class="backdrop is-hidden" data-modal>
  <div class="modal-team">
    <button class="modal__button--close" data-modal-close>
      <svg class="icon-close" width="18px" height="18px">
        <use href="./images/modal-window-team/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <div class="modal-team__wrapper">
      <h1 class="team-title">DEVELOPERS</h1>
      <ul class="team-list">
        <!-- <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/korolov.jpg"
            alt="Dmitro Korolov"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Dmitro Korolov</h2>
            <p class="team-list__text">Team Lead</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/korolovdmitriy" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/dmitro-korolov/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/chorna.jpg"
            alt="Yevheniia Chorna"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Yevheniia Chorna</h2>
            <p class="team-list__text">Scrum Master</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/ChornaEva" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/yevheniia-chorna-6005b720a/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/4ornaja/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/semenov.jpg"
            alt="Serhii Semenov"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Serhii Semenov</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/SerhiiSO" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://ua.linkedin.com" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/serhii.s.o/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li> -->
            <!-- </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/vlad.jpg"
            alt="Vladyslav Tykhovskyi"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Vladyslav Tykhovskyi</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/vlad2021-pro?tab=repositories" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/%D0%B2%D0%BB%D0%B0%D0%B4%D0%B8%D1%81%D0%BB%D0%B0%D0%B2-%D1%82%D0%B8%D1%85%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9-715453198/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/v_tykhovskyi/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/kal4enko.jpg"
            alt="Natalia Kalchenko"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Natalia Kalchenko</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/NataliGoIt" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://ua.linkedin.com" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/nataliakal4enko/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/tomilov.jpg"
            alt="Dmitro Tomilow"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Dmitro Tomilow</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/dimatomilow?tab=repositories" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/%D0%B4%D0%BC%D0%B8%D1%82%D1%80%D0%B8%D0%B9-%D1%82%D0%BE%D0%BC%D0%B8%D0%BB%D0%BE%D0%B2-27151b20b/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/dimantomilow/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/zhokhova.jpg"
            alt="Olha Zhokhova"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Olha Zhokhova</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/olhazhokhova" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://ua.linkedin.com" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/ol.zhokhova/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/suvorov.jpg"
            alt="Alexander Suvorov"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Alexander Suvorov</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://ua.linkedin.com" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/nikitenko.jpg"
            alt="Nikita Nikitenko"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Nikita Nikitenko</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/Nikita856294" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/nikita-nikitenko/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/ruzhytskyi.jpg"
            alt="Dmytro Ruzhytskyi"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Dmytro Ruzhytskyi</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/dmitruz" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/dmytro-ruzhytskyi-4b0431193/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/dmitriy_ruzhytskyi/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li> -->
     </ul> 
    </div>
    </div>
  </div>
</div>
