<div class="backdrop is-hidden">
  <div class="modal-team" data-modal>
    <button class="modal__button--close" data-modal-close>
      <svg class="icon-close" width="18px" height="18px">
        <use href="./images/modal-window-team/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <div class="modal-team__wrapper">
      <h1 class="team-title">DEVELOPERS TEAM</h1>
      <ul class="team-list">
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/chorna.jpg"
            alt="Женя Чёрная"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Chorna Yevheniia</h2>
            <p class="team-list__text">Scrum master</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/ChornaEva" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/yevheniia-chorna-6005b720a/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/4ornaja/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/zhokhova.jpg"
            alt="Женя Чёрная"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Zhokhova Olga</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/yevheniia-chorna-6005b720a/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/4ornaja/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/korolov.jpg"
            alt="Женя Чёрная"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Zhokhova Olga</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/yevheniia-chorna-6005b720a/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/4ornaja/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/Ruzhytskyi.jpg"
            alt="Женя Чёрная"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Zhokhova Olga</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/yevheniia-chorna-6005b720a/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/4ornaja/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/Vlad.jpg"
            alt="Женя Чёрная"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Zhokhova Olga</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/yevheniia-chorna-6005b720a/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/4ornaja/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/tomilov.jpg"
            alt="Женя Чёрная"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Zhokhova Olga</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/yevheniia-chorna-6005b720a/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/4ornaja/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/kal4enko.jpg"
            alt="Женя Чёрная"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Zhokhova Olga</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/yevheniia-chorna-6005b720a/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/4ornaja/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/nikitenko.jpg"
            alt="Женя Чёрная"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Zhokhova Olga</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/yevheniia-chorna-6005b720a/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/4ornaja/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/semenov.jpg"
            alt="Женя Чёрная"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Zhokhova Olga</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/yevheniia-chorna-6005b720a/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/4ornaja/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-list__item">
          <img
            src="./images/modal-window-team/team-photo/zhokhova.jpg"
            alt="Женя Чёрная"
            width="160"
            class="team-photo"
          />
          <div class="team-content">
            <h2 class="team-list__title">Zhokhova Olga</h2>
            <p class="team-list__text">Developer</p>
            <ul class="sociale-list">
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://github.com/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.linkedin.com/in/yevheniia-chorna-6005b720a/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="sociale-list__item">
                <a class="sociale-list__link" href="https://www.instagram.com/4ornaja/" target="blank">
                  <svg class="sociale-list__icon">
                    <use href="./images/modal-window-team/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
     </ul> 
    </div>
    </div>
  </div>
</div>
