
<div class = "login-page is-hidden">
    <div class = "modal-form">
        <div class = "close-icon-container">
            <svg width="30" height="30" class = "close-icon">
                <use href ="./images/authicons.svg#icon-close_40px">
                </use>
            </svg>
        </div>
     
<form class = "register-form">
            <h2 class = "modal-title">Register</h2>  
                <input type = "email" placeholder ="E-mail" id="reg-email" name ="regEmail" autocomplete="on">
                <input type = "password" placeholder ="password" id="reg-password" name ="regPassword" autocomplete="on">
                    <button>create</button>
                        <p class =  "message login-message">Already registered? <a href ="#"></a></p>
                    </form>
        
                <form class = "login-form">
            <h2 class="modal-title">Login</h2>
        <input type="email" placeholder="E-mail" id="log-email" name="loginEmail" autocomplete="on"/>
        <input type="password" placeholder="Password" id="log-password" name="loginPassword" autocomplete="on"/>
              <button>login</button>
                <p class="message create-message">Not registered? 
                    <a href="#">Create an account</a></p> 
                     </form>       
        </div>
    </div>