<div class="film-card__backdrop">
  <div class="film-card">
    <svg class="film-card__close-btn">
      <use href="../images/sprite.svg#film-card-close"></use>
    </svg>
    <img src="" alt="A FISTFUL OF LEAD" width="274" height="398" />
    <h2>A FISTFUL OF LEAD</h2>
    <div class="film-card__parameters">
      <ul class="film-card__parameter">
        <li class="film-card__parameter--name">Vote / Votes</li>
        <li class="film-card__parameter--name">Popularity</li>
        <li class="film-card__parameter--name">Original Title</li>
        <li class="film-card__parameter--name">Genre</li>
      </ul>
      <ul class="film-card__parameter--status">
        <li class="film-card__parameter--value"><span class="film-rate">7.3</span> / 1260</li>
        <li class="film-card__parameter--value">100.2</li>
        <li class="film-card__parameter--value">A FISTFUL OF LEAD</li>
        <li class="film-card__parameter--value">Western</li>
      </ul>
    </div>
    <h3 class="film-card__about">About</h3>
    <p class="film-card_descr">
      Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most
      corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the
      other three escapes with bags of gold hide out in the abandoned gold mine where they happen
      across another gang of three – who themselves were planning to hit the very same bank! As
      tensions rise, things go from bad to worse as they realise the bags of gold are filled with
      lead... they’ve been double crossed – but by who and how?
    </p>
    <button class="film-card__watched--btn">add to Watched</button>
    <button class="film-card__queue--btn">add to queue</button>
  </div>
</div>
