.footer {
  height: 100px;
  background-color: var(--footer-bg-color);
  margin-top: auto;

  @include tablet {
    height: 77px;
  }
}

.footer__container {
  padding: 0 20px;
}

.footer__wrapper {
  padding-top: 28px;
  text-align: center;
  @include tablet {
    display: flex;
    justify-content: center;
  }
  @include desktop {
    display: flex;
    justify-content: center;
  }
}

.footer__icon-heart {
  display: inline-block;
  width: 14px;
  height: 12.75px;
  fill: #ff6b08;
  color: #545454;

  animation: heartbeat 1s infinite;
}

.footer__text {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--footer-text);
  @include desktop {
    font-size: 16px;
    line-height: 1.9;
  }
}

.footer__text-link {
  color: var(--footer-text);
  text-decoration: underline;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.25);
  }
  40% {
    transform: scale(1.5);
  }
}
