.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 46px;
  padding-bottom: 16px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// ==================LOGO======================
.header__logo-text {
  display: none;
}

// ==================NAV========================
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-item:not(:last-child) {
  margin-right: 39px;
}
.header__nav-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.header__nav-link:hover,
.header__nav-link:focus {
  color: #ff6b08;
}

// ====================CURRENT=================
.current-home::after {
  content: '';
  display: block;
  position: absolute;
  width: 36px;
  height: 3px;
  background: #ff6b08;
}

// ===================================TABLET===============================================
@media screen and (min-width: 768px) {
  .header__logo-text {
    display: inline;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;

    &:hover,
    &:focus {
      color: #ff6b08;
    }
  }
  .header__nav-ikon {
    margin-right: 10px;
  }
}
