.header{
    padding-top: 46px;
    padding-bottom: 16px;
    background-color: black;
  }
  .header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  // ==================LOGO======================
  .header__logo-text{
    display: none;
  }
  
  // ==================NAV========================
  .header__nav-list{
    display: flex;
    align-items: center;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 39px;
  }
  .header__nav-link{
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  }
  .header__nav-link:hover,
  .header__nav-link:focus{
    color:  #FF6B08;;
  }
  
  // ====================CURRENT=================
  .current-home::after {
      content: "";
      display: block;
      position: absolute;
      width: 36px;
      height: 3px;
      background: #FF6B08;
    }
  
    // ===================================TABLET===============================================
    @media screen and (min-width: 768px){
        .header__logo-text{
            display: inline;
            font-weight: 500;
            font-size: 30px;
            line-height: 35px;
            color: #FFFFFF;
  
            &:hover,
            &:focus{
                color: #FF6B08; 
            }
        }
        .header__nav-ikon{
            margin-right: 10px;
        }  
    }