.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 46px;
  padding-bottom: 16px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// ==================LOGO======================
.logo__text {
  display: none;
}

.logo{
  stroke: #818181;
  &:hover,
  &:focus {
    color: #ff6b08;
    stroke: #ff6b08;
  }
}

// ==================NAV========================

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 39px;
}
.nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #ff6b08;
  }
}

.header-btn{
  width: 66px;
  height: 22px;
  padding: 3px 10px;
  border-radius: 5px;
  border-color: #ffffff;

  font-family: inherit;
  font-size: 10px;
  line-height: 0.75;
  text-transform: uppercase;
  color: #ffffff;
  
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: none;
    background-color: #ff6b08;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }
}

// ====================CURRENT=================
.current-home::after {
  content: '';
  display: block;
  position: absolute;
  width: 36px;
  height: 3px;
  background: #ff6b08;
}
.current-library::after {
  content: '';
  display: block;
  position: absolute;
  width: 69px;
  height: 3px;
  background: #ff6b08;
}

.current-btn{
  content: '';
  border: none;
  background-color: #ff6b08;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}
// ===================================TABLET===============================================
@media screen and (min-width: 768px) {
  .logo__text {
    display: inline;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #ff6b08;
    }
  }
  .nav__ikon {
    margin-right: 10px;
    }
  }

