@media screen and (min-device-pixel-ratio: 2) and (min-width: 230px),
  screen and (min-resolution: 192dpi) and (min-width: 230px),
  screen and (min-resolution: 2dppx) and (min-width: 230px) {
  .hero__background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/home-mobile2x.jpg);
  }
}
.hero__background {
  background-color: rgba(8, 8, 12, 0.91);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/home-mobile.jpg);
  max-width: 320px;
  height: 230px;
  background-size: cover;
  background-position: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 113px;
  padding-bottom: 97px;
  text-align: center;
}
.hero__position {
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 20px;
  max-width: 336px;
  margin: auto;
}
.hero__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 5%;

  font: inherit;
}
.hero__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  width: inherit;
}

[placeholder] {
  &:-moz-placeholder {
    font-style: normal;
    color: #ffffff;
  }
  &:-ms-input-placeholder {
    font-style: normal;
    color: #ffffff;
  }
  &::-webkit-input-placeholder {
    font-style: normal;
    color: #ffffff;
  }
}

.text-error {
  position: absolute;
  top: 35px;
  left: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #ff001b;
  max-width: 280px;
}

.hero__background + .films .empty-list {
  display: none;
}

@media screen and (min-width: 321px) {
  .hero__background {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/home-tablet.jpg);
  }
  .text-error {
    max-width: 400px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 321px),
  screen and (min-resolution: 192dpi) and (min-width: 321px),
  screen and (min-resolution: 2dppx) and (min-width: 321px) {
  .hero__background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/home-tablet@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero__background {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/home-desctop.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 769px),
  screen and (min-resolution: 192dpi) and (min-width: 769px),
  screen and (min-resolution: 2dppx) and (min-width: 769px) {
  .hero__background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/home-desctop@2x.jpg);
  }
}
