.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff !important;
  background: #ff6b08 !important;
  border-color: #ff6b08 !important;
  border-radius: 5px !important;
  cursor: default !important;
}
